USE [master]
GO
/****** Object:  Database [ProjectBeheerStadGent]    Script Date: 13/01/2026 15:07:26 ******/
CREATE DATABASE [ProjectBeheerStadGent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectBeheerStadGent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectBeheerStadGent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectBeheerStadGent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ProjectBeheerStadGent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectBeheerStadGent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectBeheerStadGent]
GO
/****** Object:  Table [dbo].[bouwfirma]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bouwfirma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naam] [nvarchar](250) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[telefoonnummer] [nvarchar](250) NOT NULL,
	[website] [nvarchar](250) NULL,
 CONSTRAINT [PK_bouwfirma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[filenaam] [nvarchar](250) NOT NULL,
	[document] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_projectDocument] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foto]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[filenaam] [nvarchar](250) NOT NULL,
	[foto] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_projectFoto] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gebruiker]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gebruiker](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naam] [nvarchar](250) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[gebruikersrol] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_gebruiker] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[naam] [nvarchar](250) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[telefoonnummer] [nvarchar](250) NOT NULL,
	[website] [nvarchar](250) NULL,
 CONSTRAINT [PK_partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_titel] [nvarchar](250) NOT NULL,
	[beschrijving] [nvarchar](max) NOT NULL,
	[startdatum] [datetime2](7) NULL,
	[project_status] [nvarchar](250) NOT NULL,
	[straat] [nvarchar](250) NOT NULL,
	[huisnummer] [nvarchar](250) NOT NULL,
	[postcode] [int] NOT NULL,
	[gemeente] [nvarchar](250) NOT NULL,
	[wijk] [nvarchar](250) NOT NULL,
	[project_eigenaar_id] [int] NOT NULL,
	[is_stadsontwikkeling] [bit] NOT NULL,
	[is_groene_ruimte] [bit] NOT NULL,
	[is_innovatief_wonen] [bit] NOT NULL,
	[vergunningstatus] [nvarchar](250) NULL,
	[architecturale_waarde] [bit] NULL,
	[toegankelijkheid] [nvarchar](250) NULL,
	[bezienswaardigheid_voor_toeristen] [bit] NULL,
	[infoborden_of_wandeling] [bit] NULL,
	[oppervlakte_in_vierkante_meter] [float] NULL,
	[biodiversiteitsscore] [int] NULL,
	[aantal_wandelpaden] [int] NULL,
	[opgenomen_in_wandelroute] [bit] NULL,
	[bezoekersscore] [int] NULL,
	[faciliteiten] [nvarchar](250) NULL,
	[aantal_wooneenheden] [int] NULL,
	[rondleiding_mogelijk] [bit] NULL,
	[innovatie_score] [int] NULL,
	[showwoning_beschikbaar] [bit] NULL,
	[samenwerking_erfgoed] [bit] NULL,
	[samenwerking_toerisme] [bit] NULL,
	[woonvormen] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_project] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_bouwfirma]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_bouwfirma](
	[bouwfirma_id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
 CONSTRAINT [PK_project_bouwfirma] PRIMARY KEY CLUSTERED 
(
	[bouwfirma_id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_partner]    Script Date: 13/01/2026 15:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_partner](
	[partner_id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[rol_omschrijving] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_project_partner] PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC,
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[document]  WITH CHECK ADD  CONSTRAINT [FK_document_project] FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[document] CHECK CONSTRAINT [FK_document_project]
GO
ALTER TABLE [dbo].[foto]  WITH CHECK ADD  CONSTRAINT [FK_foto_project] FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[foto] CHECK CONSTRAINT [FK_foto_project]
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD  CONSTRAINT [FK_project_gebruiker] FOREIGN KEY([project_eigenaar_id])
REFERENCES [dbo].[gebruiker] ([id])
GO
ALTER TABLE [dbo].[project] CHECK CONSTRAINT [FK_project_gebruiker]
GO
ALTER TABLE [dbo].[project_bouwfirma]  WITH CHECK ADD  CONSTRAINT [FK_project_bouwfirma_bouwfirma] FOREIGN KEY([bouwfirma_id])
REFERENCES [dbo].[bouwfirma] ([id])
GO
ALTER TABLE [dbo].[project_bouwfirma] CHECK CONSTRAINT [FK_project_bouwfirma_bouwfirma]
GO
ALTER TABLE [dbo].[project_bouwfirma]  WITH CHECK ADD  CONSTRAINT [FK_project_bouwfirma_project] FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[project_bouwfirma] CHECK CONSTRAINT [FK_project_bouwfirma_project]
GO
ALTER TABLE [dbo].[project_partner]  WITH CHECK ADD  CONSTRAINT [FK_project_partner_partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[partner] ([id])
GO
ALTER TABLE [dbo].[project_partner] CHECK CONSTRAINT [FK_project_partner_partner]
GO
ALTER TABLE [dbo].[project_partner]  WITH CHECK ADD  CONSTRAINT [FK_project_partner_project] FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[project_partner] CHECK CONSTRAINT [FK_project_partner_project]
GO
USE [master]
GO
